# API
fastapi
uvicorn[standard]==0.42.0

# Database
sqlalchemy==2.0.25
psycopg[binary]
alembic==1.18.4
langchain-openai
# Config
pydantic-settings>=2.4.0
pydantic==2.12.5
langchain-anthropic

# Vector Memory
qdrant-client
# HTTP
httpx==0.28.1
python-multipart
tabulate==0.10.0

# Logging
structlog

# LLMs
anthropic==0.85.0
langchain==1.2.12
langchain-community
ddgs

# ML / Embeddings
scikit-learn==1.8.0
sentence-transformers
xmltodict
# Utils
arxiv
python-dotenv==1.2.2
requests==2.32.5
wikipedia